h1{
    display: inline-block;
    border-style: inset;
border-color: aqua;

margin: 1em;
text-align: justify;
}
.container {
    display: inline-block;
    margin: 1.5rem;
    
}
.content{
    margin: 2.5rem;
}

.greetMessage {
text-align: justify;
}

.greetBtn {
    display: inline-block;
margin: 1.5rem;
align-content: center;
}